dotenv
if ! env_vars_required RELEASE_COOKIE; then
	echo "Generating a new RELEASE_COOKIE..."
	printf \
		'RELEASE_COOKIE="%s"\n' \
		"$(base64 /dev/urandom | head -c32)" \
		>>.env
	dotenv
fi

use flake . -L

if [ ! -f "compile_commands.json" ]; then
	bear -- make -B
fi
